{% extends 'base.html' %}
{% load static %}

{% block title %}
آنالیز نقص
{% endblock %}

{% block page1 %}
آنالیز نقص
{% endblock %}

{% block page2 %}
آنالیز نقص
{% endblock %}

{% block contain %}
<div class="row">
    <div class="col-12">
        <h5>فیلتر بازه زمانی</h5>
        <form method="get" class="my-time">
            <input data-jdp title="از تاریخ" name="start" class="form-control w-40" placeholder="از تاریخ" style="width: 100% !important;"
                value="{{ request.GET.start }}" autocomplete="off">
            <input data-jdp title="تا تاریخ" name="end" class="form-control w-40" placeholder="تا تاریخ" style="width: 100% !important;"
                value="{{ request.GET.end }}" autocomplete="off">
            <button class="my-btn-time" style="background-color: #fff; border: 1px solid #f97316; border-radius: 0.5rem; color: #f97316; padding: 8px 32px; font-size: 0.75rem; font-weight: 700;">جستجو</button>
        </form>
    </div>
</div>

<div class="row" style="padding-top: 20px; margin: auto;">
    <div style="width: 48%; margin: auto; border-radius: 0.75rem; box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1); background-color: #FBFBFB;">
        <canvas id="barChart"></canvas>
    </div>
    <div style="width: 48%; margin: auto; border-radius: 0.75rem; box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1); background-color: #FBFBFB;">
        <canvas id="barChartType"></canvas>
    </div>
</div>

<div class="row" style="padding-top: 20px; margin: auto;">
    <div style="width: 48%; margin: auto; border-radius: 0.75rem; box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1); background-color: #FBFBFB;">
        <canvas id="barChartPercent"></canvas>
    </div>
    <div style="width: 48%; margin: auto; border-radius: 0.75rem; box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1); background-color: #FBFBFB;">
        <canvas id="barChartTypePercent"></canvas>
    </div>
</div>

<script>
    jalaliDatepicker.startWatch();

    const inputFile = document.getElementById('profile_image_input');
    const previewImage = document.getElementById('profile_image_preview');
    inputFile.addEventListener('change', function () {
        const file = this.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
                previewImage.src = e.target.result;
            }
            reader.readAsDataURL(file);
        }
    }); 
</script>
{% endblock %}