{% load static %}

<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="{% static 'img/logo_t.png' %}">
    <title>
        ارسال اکسل
    </title>
    <!-- <link href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700,800" rel="stylesheet" />
    <link href="https://demos.creative-tim.com/soft-ui-dashboard/assets/css/nucleo-icons.css" rel="stylesheet" />
    <link href="https://demos.creative-tim.com/soft-ui-dashboard/assets/css/nucleo-svg.css" rel="stylesheet" /> -->
    <!-- <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script> -->
    <link id="pagestyle" href="{% static 'css/soft-ui-dashboard.css' %}" rel="stylesheet" />
    <!-- <script defer data-site="YOUR_DOMAIN_HERE" src="https://api.nepcha.com/js/nepcha-analytics.js"></script> -->
    <style>
        .disbtn[disabled] {
            opacity: 0.6;
            cursor: not-allowed;
        }
    </style>
</head>

<body class="login-body">
    <main class="main-content  mt-0">
        <section>
            <div class="page-header min-vh-75">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-4 col-lg-5 col-md-6 d-flex flex-column mx-auto">
                            <div class="card card-plain mt-8" style="background-color: #fff;">
                                <div class="card-header pb-0 text-left bg-transparent">
                                    <h3 class="font-weight-bolder text-info text-gradient">ارسال اکسل</h3>
                                    <p class="mb-0">بعد از ارسال فایل صبور باشید تحلیل اطلاعات کمی زمانبر است. 3 الی 4 دقیقه</p>
                                </div>
                                <div class="card-body">
                                    <form method="post" enctype="multipart/form-data"> {% csrf_token %}
                                        {% if form.non_field_errors %}
                                        {% for error in form.non_field_errors %}
                                        <p class="error">{{ error }}</p>
                                        {% endfor %}
                                        {% endif %}
                                        <label>فایل اکسل</label>
                                        <div class="mb-3">
                                            <input type="file" name="file" class="form-control"
                                                aria-label="file"
                                                aria-describedby="file-addon">
                                            {% if form.file.errors %}
                                            {% for error in form.file.errors %}
                                            <p class="error">{{ error }}</p>
                                            {% endfor %}
                                            {% endif %}
                                        </div>
                                        <div class="text-center">
                                            <button type="submit" class="disbtn btn bg-gradient-info w-100 mt-4 mb-0">ارسال فایل</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script src="{% static 'js/core/popper.min.js' %}"></script>
    <script src="{% static 'js/core/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/plugins/perfect-scrollbar.min.js' %}"></script>
    <script src="{% static 'js/plugins/smooth-scrollbar.min.js' %}"></script>
    <script src="{% static 'js/plugins/fullcalendar.min.js' %}"></script>
    <script>
        var win = navigator.platform.indexOf('Win') > -1;
        if (win && document.querySelector('#sidenav-scrollbar')) {
            var options = {
                damping: '0.5'
            }
            Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
        }
    </script>
    <!-- <script async defer src="https://buttons.github.io/buttons.js"></script> -->
    <script src="{% static 'js/soft-ui-dashboard.min.js' %}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const form = document.querySelector("form");
            const submitBtn = form.querySelector("button[type='submit']");

            form.addEventListener("submit", function () {
                submitBtn.disabled = true;
                submitBtn.innerText = "درحال تحلیل اکسل، خارج نشوید";
            });
        });
    </script>

</body>

</html>