{% extends 'base.html' %}
{% load static %}

{% block title %}
آمار پرونده های DC
{% endblock %}

{% block page1 %}
پرونده های DC
{% endblock %}

{% block page2 %}
آمار پرونده های DC
{% endblock %}

{% block contain %}
<div class="row" id="content_image">
    <div class="col-12">
        <h5>فیلتر بازه زمانی</h5>
        <form method="get" class="my-time">
            <input data-jdp title="از تاریخ" name="start" class="form-control w-40" placeholder="از تاریخ" style="width: 100% !important;"
                value="{{ request.GET.start }}" autocomplete="off">
            <input data-jdp title="تا تاریخ" name="end" class="form-control w-40" placeholder="تا تاریخ" style="width: 100% !important;"
                value="{{ request.GET.end }}" autocomplete="off">
            <button class="my-btn-time" style="background-color: #fff; border: 1px solid #f97316; border-radius: 0.5rem; color: #f97316; padding: 8px 32px; font-size: 0.75rem; font-weight: 700;">جستجو</button>
        </form>
    </div>
    <div class="col-lg-3 col-sm-6 mb-lg-0 mb-4" style="margin-bottom: 24px !important;">
        <div class="card">
            <div class="card-body p-3">
                <div class="row">
                    <div class="col-8">
                        <div class="numbers">
                            <p class="text-sm mb-0 text-capitalize font-weight-bold">شمار کل پزشکان</p>
                            <h5 class="font-weight-bolder mb-0">
                                {{ dc_doctors_count }}
                            </h5>
                        </div>
                    </div>
                    <div class="col-4 text-start">
                        <div class="icon icon-shape bg-primary shadow text-center border-radius-md"
                            style="display: flex; justify-content: center; align-items: center;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                style="color: #fff;" class="bi bi-person-heart" viewBox="0 0 16 16">
                                <path
                                    d="M9 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0m-9 8c0 1 1 1 1 1h10s1 0 1-1-1-4-6-4-6 3-6 4m13.5-8.09c1.387-1.425 4.855 1.07 0 4.277-4.854-3.207-1.387-5.702 0-4.276Z" />
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 mb-lg-0 mb-4" style="margin-bottom: 24px !important;">
        <div class="card">
            <div class="card-body p-3">
                <div class="row">
                    <div class="col-8">
                        <div class="numbers">
                            <p class="text-sm mb-0 text-capitalize font-weight-bold">شمار کل بیماران</p>
                            <h5 class="font-weight-bolder mb-0">
                                {{ dc_patients_count }}
                            </h5>
                        </div>
                    </div>
                    <div class="col-4 text-start">
                        <div class="icon icon-shape bg-primary shadow text-center border-radius-md"
                            style="display: flex; justify-content: center; align-items: center;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                style="color: #fff;" class="bi bi-person-heart" viewBox="0 0 16 16">
                                <path
                                    d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5.784 6A2.24 2.24 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.3 6.3 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5" />
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 mb-lg-0 mb-4" style="margin-bottom: 24px !important;">
        <div class="card">
            <div class="card-body p-3">
                <div class="row">
                    <div class="col-8">
                        <div class="numbers">
                            <p class="text-sm mb-0 text-capitalize font-weight-bold">شمار پرونده های فوت</p>
                            <h5 class="font-weight-bolder mb-0" id="total">
                                {{ dc_cases_count }}
                            </h5>
                        </div>
                    </div>
                    <div class="col-4 text-start">
                        <div class="icon icon-shape bg-primary shadow text-center border-radius-md"
                            onclick="exportToExcel2()"
                            style="display: flex; justify-content: center; align-items: center;">
                            <svg xmlns="http://www.w3.org/2000/svg" style="color: #fff;" width="20" height="20" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                                <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
                                <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"/>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6" style="margin-bottom: 24px !important;">
        <div class="card">
            <div class="card-body p-3">
                <div class="row">
                    <div class="col-8">
                        <div class="numbers">
                            <p class="text-sm mb-0 text-capitalize font-weight-bold">میانگین مدت زمان رسیدن </p>
                            <h5 class="font-weight-bolder mb-0">
                                {{ average_arrive_daies }}
                                <span class="text-success text-sm font-weight-bolder"></span>
                            </h5>
                        </div>
                    </div>
                    <div class="col-4 text-start">
                        <div class="icon icon-shape bg-primary shadow text-center border-radius-md"
                            style="display: flex; justify-content: center; align-items: center;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                style="color: #fff;" class="bi bi-person-heart" viewBox="0 0 16 16">
                                <path
                                    d="M5 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4m4-2.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5M9 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4A.5.5 0 0 1 9 8m1 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5" />
                                <path
                                    d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2zM1 4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H8.96q.04-.245.04-.5C9 10.567 7.21 9 5 9c-2.086 0-3.8 1.398-3.984 3.181A1 1 0 0 1 1 12z" />
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6" style="margin-bottom: 24px !important;">
        <div class="card">
            <div class="card-body p-3">
                <div class="row">
                    <div class="col-8">
                        <div class="numbers">
                            <p class="text-sm mb-0 text-capitalize font-weight-bold">میانگین اقامت بیماران</p>
                            <h5 class="font-weight-bolder mb-0">
                                {{ average_stay_daies }}
                                <span class="text-success text-sm font-weight-bolder"></span>
                            </h5>
                        </div>
                    </div>
                    <div class="col-4 text-start">
                        <div class="icon icon-shape bg-primary shadow text-center border-radius-md"
                            style="display: flex; justify-content: center; align-items: center;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                style="color: #fff;" class="bi bi-person-heart" viewBox="0 0 16 16">
                                <path
                                    d="M5 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4m4-2.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5M9 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4A.5.5 0 0 1 9 8m1 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5" />
                                <path
                                    d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2zM1 4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H8.96q.04-.245.04-.5C9 10.567 7.21 9 5 9c-2.086 0-3.8 1.398-3.984 3.181A1 1 0 0 1 1 12z" />
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="padding-top: 20px; margin: auto;">
        <div style="width: 48%; margin: auto; border-radius: 0.75rem; box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1); background-color: #FBFBFB;">
            <canvas id="ageChart"></canvas>
        </div>
        <div style="width: 48%; margin: auto; border-radius: 0.75rem; box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1); background-color: #FBFBFB;">
            <canvas id="genderChartType"></canvas>
        </div>
    </div>

    <div style="margin-top: 30px; width: 100%; display: flex; justify-content: center;">
        <button class="my-btn-time" style="background-color: #fff; border: 1px solid #f97316; border-radius: 0.5rem; color: #f97316; padding: 8px 32px; font-size: 0.75rem; font-weight: 700;" onclick="captureImage()">دانلود</button>
    </div>
</div>

<table style="display: none;">
    {% for name, count in age_counts.items %}
    <tr>
        <td>{{ name }}</td>
        <td>{{ count }}</td>
    </tr>
    {% endfor %}
</table>

<table style="display: none;">
    {% for name, count in gender_counts.items %}
    <tr>
        <td>{{ name }}</td>
        <td>{{ count }}</td>
    </tr>
    {% endfor %}
</table>

<div id="myDiv2" class="fixed-div hidden-div" style="display: none; flex-direction: column;">
<button class="close-btn" onclick="hideAllDivs()">X</button>
<table id="myTable2" class="table align-items-center mb-0">
    <tr>
        <th>
            شماره پرونده
        </th>
        <th>
            پزشک
        </th>
        <th>
            علت فوت
        </th>
        <th>
            بخش محل فوت
        </th>
        <th>
            بخش بستری
        </th>
        <th>
            تاریخ فوت
        </th>
        <th>
            تاریخ پذیرش
        </th>
        <th>
            سن بیمار
        </th>
        <th>
            جنسیت بیمار
        </th>
        <th>
            بیمار
        </th>
        <th>
            تاریخ تحویل
        </th>
    </tr>
    {% for filtered_dc_section_case in filtered_dc_section_cases %}
    <tr>
        <td>
            {{ filtered_dc_section_case.number }}
        </td>
        <td>
            {{ filtered_dc_section_case.doctor.full_name }}
        </td>
        <td>
            {{ filtered_dc_section_case.cause_of_death }}
        </td>
        <td>
            {{ filtered_dc_section_case.location_of_death }}
        </td>
        <td>
            {{ filtered_dc_section_case.hospitalization_section.name }}
        </td>
        <td>
            {{ filtered_dc_section_case.death_date }}
        </td>
        <td>
            {{ filtered_dc_section_case.admission_date }}
        </td>
        <td>
            {{ filtered_dc_section_case.age }}
        </td>
        <td>
            {{ filtered_dc_section_case.get_gender_display }}
        </td>
        <td>
            {{ filtered_dc_section_case.patient.full_name }}
        </td>
        <td>
            {{ filtered_dc_section_case.delivery_date }}
        </td>
    </tr>
    {% endfor %}
</table>
    {% if filtered_dc_section_cases.has_previous %}
        <a href="?start={{ request.GET.start }}&end={{ request.GET.end }}&dc_page={{ filtered_dc_section_cases.previous_page_number }}">قبلی</a>
    {% endif %}

    <span>صفحه {{ filtered_dc_section_cases.number }} از {{ filtered_dc_section_cases.paginator.num_pages }}</span>

    {% if filtered_dc_section_cases.has_next %}
        <a href="?start={{ request.GET.start }}&end={{ request.GET.end }}&dc_page={{ filtered_dc_section_cases.next_page_number }}">بعدی</a>
    {% endif %}
</div>

<script>
    jalaliDatepicker.startWatch();

    const inputFile = document.getElementById('profile_image_input');
    const previewImage = document.getElementById('profile_image_preview');
    inputFile.addEventListener('change', function () {
        const file = this.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
                previewImage.src = e.target.result;
            }
            reader.readAsDataURL(file);
        }
    }); 
</script>

<script>
    function captureImage() {
        const element = document.getElementById('content_image');

        html2canvas(element, { scale: 2 }).then(canvas => {
      
            const link = document.createElement('a');
            link.download = 'snapshot.png';
            link.href = canvas.toDataURL('image/png');
            link.click();
        });
    }
</script>

<script>
    function exportToExcel1() {
        const div = document.querySelector('#myDiv1');
        const black = document.querySelector('.black');
        div.style.display = 'flex';
        black.style.display = 'flex';

        let wb = XLSX.utils.book_new();
        let ws = XLSX.utils.table_to_sheet(document.getElementById('myTable1'));
        XLSX.utils.book_append_sheet(wb, ws, "Sheet1");
        XLSX.writeFile(wb, "table.xlsx");
    }

    function hideAllDivs() {
        const divs = document.querySelectorAll('.hidden-div');
        const black = document.querySelector('.black');
        divs.forEach(div => div.style.display = 'none');
        black.style.display = 'none';
        black.style.display = 'none';
    }
</script>
{% endblock %}