{% extends 'base.html' %}
{% load static %}

{% block title %}
حذف تخصص: {{ expertise.name }}
{% endblock %}

{% block page1 %}
تخصص ها
{% endblock %}

{% block page2 %}
حذف تخصص: {{ expertise.name }}
{% endblock %}

{% block contain %}
<div class="row" style="text-align: center; padding-top: 50px;">
    <h5 style="color: #f97316;">
        آیا از حذف تخصص: {{ expertise.name }} اطمینان دارید؟
    </h5>

    <form method="post"> {% csrf_token %}
        <br>
        <br>
        <button class="btn btn-netcopy_net" style="margin-left: 10px; color: red;">تایید و حذف</button>
        <a href="{% url 'expertise_list' %}">بیخیال!</a>
    </form>
</div>
{% endblock %}