{% extends 'base.html' %}
{% load static %}

{% block title %}
فرم ویرایش پرونده بخش
{% endblock %}

{% block page1 %}
پرونده های بخش
{% endblock %}

{% block page2 %}
فرم ویرایش پرونده بخش
{% endblock %}

{% block contain %}
<div class="row">
    <form method="post">
        {% csrf_token %}
        <h3 style="margin-bottom: 20px;">فرم ویرایش پرونده بخش</h3>

        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <p class="error">{{ error }}</p>
        {% endfor %}
        {% endif %}

        <div class="my-grid">
            <div>
                <label>{{ form.defect_sheet.label }}</label>
                {{ form.defect_sheet }}
                {% if form.defect_sheet.errors %}
                {% for error in form.defect_sheet.errors %}
                <p class="error">{{ error }}</p>
                {% endfor %}
                {% endif %}
            </div>
            <div>
                <label>{{ form.defect_type.label }}</label>
                {{ form.defect_type }}
                {% if form.defect_type.errors %}
                {% for error in form.defect_type.errors %}
                <p class="error">{{ error }}</p>
                {% endfor %}
                {% endif %}
            </div>
            <div>
                <label>{{ form.defect_sheet2.label }}</label>
                {{ form.defect_sheet2 }}
                {% if form.defect_sheet2.errors %}
                {% for error in form.defect_sheet2.errors %}
                <p class="error">{{ error }}</p>
                {% endfor %}
                {% endif %}
            </div>
            <div>
                <label>{{ form.defect_type2.label }}</label>
                {{ form.defect_type2 }}
                {% if form.defect_type2.errors %}
                {% for error in form.defect_type2.errors %}
                <p class="error">{{ error }}</p>
                {% endfor %}
                {% endif %}
            </div>
            <div>
                <label>{{ form.defect_sheet3.label }}</label>
                {{ form.defect_sheet3 }}
                {% if form.defect_sheet3.errors %}
                {% for error in form.defect_sheet3.errors %}
                <p class="error">{{ error }}</p>
                {% endfor %}
                {% endif %}
            </div>
            <div>
                <label>{{ form.defect_type3.label }}</label>
                {{ form.defect_type3 }}
                {% if form.defect_type3.errors %}
                {% for error in form.defect_type3.errors %}
                <p class="error">{{ error }}</p>
                {% endfor %}
                {% endif %}
            </div>
            <div>
                <label>{{ form.defect_sheet4.label }}</label>
                {{ form.defect_sheet4 }}
                {% if form.defect_sheet4.errors %}
                {% for error in form.defect_sheet4.errors %}
                <p class="error">{{ error }}</p>
                {% endfor %}
                {% endif %}
            </div>
            <div>
                <label>{{ form.defect_type4.label }}</label>
                {{ form.defect_type4 }}
                {% if form.defect_type4.errors %}
                {% for error in form.defect_type4.errors %}
                <p class="error">{{ error }}</p>
                {% endfor %}
                {% endif %}
            </div>

            <div>
                <label>{{ form.defect_sheet5.label }}</label>
                {{ form.defect_sheet5 }}
                {% if form.defect_sheet5.errors %}
                {% for error in form.defect_sheet5.errors %}
                <p class="error">{{ error }}</p>
                {% endfor %}
                {% endif %}
            </div>
            <div>
                <label>{{ form.defect_type5.label }}</label>
                {{ form.defect_type5 }}
                {% if form.defect_type5.errors %}
                {% for error in form.defect_type5.errors %}
                <p class="error">{{ error }}</p>
                {% endfor %}
                {% endif %}
            </div>

            <div>
                <label>{{ form.defect_sheet6.label }}</label>
                {{ form.defect_sheet6 }}
                {% if form.defect_sheet6.errors %}
                {% for error in form.defect_sheet6.errors %}
                <p class="error">{{ error }}</p>
                {% endfor %}
                {% endif %}
            </div>
            <div>
                <label>{{ form.defect_type6.label }}</label>
                {{ form.defect_type6 }}
                {% if form.defect_type6.errors %}
                {% for error in form.defect_type6.errors %}
                <p class="error">{{ error }}</p>
                {% endfor %}
                {% endif %}
            </div>

            <div>
                <label>{{ form.defect_sheet7.label }}</label>
                {{ form.defect_sheet7 }}
                {% if form.defect_sheet7.errors %}
                {% for error in form.defect_sheet7.errors %}
                <p class="error">{{ error }}</p>
                {% endfor %}
                {% endif %}
            </div>
            <div>
                <label>{{ form.defect_type7.label }}</label>
                {{ form.defect_type7 }}
                {% if form.defect_type7.errors %}
                {% for error in form.defect_type7.errors %}
                <p class="error">{{ error }}</p>
                {% endfor %}
                {% endif %}
            </div>

            <div>
                <label>{{ form.defect_sheet8.label }}</label>
                {{ form.defect_sheet8 }}
                {% if form.defect_sheet8.errors %}
                {% for error in form.defect_sheet8.errors %}
                <p class="error">{{ error }}</p>
                {% endfor %}
                {% endif %}
            </div>
            <div>
                <label>{{ form.defect_type8.label }}</label>
                {{ form.defect_type8 }}
                {% if form.defect_type8.errors %}
                {% for error in form.defect_type8.errors %}
                <p class="error">{{ error }}</p>
                {% endfor %}
                {% endif %}
            </div>

            <div>
                <label>{{ form.defect_sheet9.label }}</label>
                {{ form.defect_sheet9 }}
                {% if form.defect_sheet9.errors %}
                {% for error in form.defect_sheet9.errors %}
                <p class="error">{{ error }}</p>
                {% endfor %}
                {% endif %}
            </div>
            <div>
                <label>{{ form.defect_type9.label }}</label>
                {{ form.defect_type9 }}
                {% if form.defect_type9.errors %}
                {% for error in form.defect_type9.errors %}
                <p class="error">{{ error }}</p>
                {% endfor %}
                {% endif %}
            </div>

            <div>
                <label>{{ form.defect_sheet10.label }}</label>
                {{ form.defect_sheet10 }}
                {% if form.defect_sheet10.errors %}
                {% for error in form.defect_sheet10.errors %}
                <p class="error">{{ error }}</p>
                {% endfor %}
                {% endif %}
            </div>
            <div>
                <label>{{ form.defect_type10.label }}</label>
                {{ form.defect_type10 }}
                {% if form.defect_type10.errors %}
                {% for error in form.defect_type10.errors %}
                <p class="error">{{ error }}</p>
                {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn bg-gradient-info w-100 mt-4 mb-0">ثبت جزئیات پرونده بخش</button>
        </div>
    </form>
</div>

<script>
    jalaliDatepicker.startWatch();

    const inputFile = document.getElementById('profile_image_input');
    const previewImage = document.getElementById('profile_image_preview');
    inputFile.addEventListener('change', function () {
        const file = this.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
                previewImage.src = e.target.result;
            }
            reader.readAsDataURL(file);
        }
    }); 
</script>
{% endblock %}