{% extends 'base.html' %}
{% load static %}

{% block title %}
بخش ها
{% endblock %}

{% block page1 %}
بخش ها
{% endblock %}

{% block page2 %}
بخش ها
{% endblock %}

{% block contain %}
<div class="row">
    <div class="col-12">
        <h5>فیلتر بخش ها <span style="font-size: small; color: #f97316;">پر کردن تمامی موارد الزامی نیست</span></h5>
        <form method="get" class="my-form">
            <input title="شناسه بخش" type="number" name="id" class="form-control w-40" placeholder="شناسه بخش" style="width: 100% !important;"
                value="{{ request.GET.id }}">
            <input title="نام بخش" type="text" name="q" class="form-control w-40" placeholder="نام بخش" style="width: 100% !important;"
                value="{{ request.GET.q }}">
            <select name="expertise" multiple class="form-control" title="تخصص ها">
                {% for expertise in expertise_list %}
                    <option value="{{ expertise.id }}"
                        {% if expertise.id in selected_expertises %}selected{% endif %}>
                        {{ expertise.name }}
                    </option>
                {% endfor %}
            </select>

            <button class="my-btn" style="background-color: #fff; border: 1px solid #f97316; border-radius: 0.5rem; color: #f97316; padding: 8px 32px; font-size: 0.75rem; font-weight: 700;">جستجو</button>
        </form>
    </div>
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header pb-0" style="display: flex; justify-content: space-between;">
                <h6>لیست بخش ها</h6>
                <button
                    style="background-color: #fff; border: 1px solid #f97316; border-radius: 0.5rem; color: #f97316; padding: 8px 32px; font-size: 0.75rem; font-weight: 700;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                        class="bi bi-plus" viewBox="0 0 16 16">
                        <path
                            d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
                    </svg>
                    <a href="{% url 'section_create' %}" style="color: #f97316;">افزودن بخش</a>
                </button>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
                <div class="table-responsive p-0">
                    <table class="table align-items-center mb-0">
                        <thead>
                            <tr>
                                <th
                                    class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    شناسه</th>
                                <th
                                    class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    نام بخش</th>
                                <th
                                    class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    تخصص ها</th>
                                <th
                                    class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    اکشن</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if sections %}
                            {% for section in sections %}
                            <tr>
                                <td class="align-middle text-center">
                                    <span class="text-secondary text-xs font-weight-bold">{{ section.id }}</span>
                                </td>
                                <td class="align-middle text-center">
                                    <span class="text-secondary text-xs font-weight-bold">{{ section.name }}</span>
                                </td>
                                <td class="align-middle text-center">
                                    {% for expertise in section.expertises.all %}
                                    <span class="text-secondary text-xs font-weight-bold">{{ expertise.name }},</span>
                                    {% endfor %}
                                </td>
                                <td class="align-middle text-center">
                                    <a href="{% url 'section_detail' section.id %}" title="جزئیات" style="padding: 0 4px;">
                                        <span class="text-secondary text-xs font-weight-bold">
                                            <svg style="color: #f97316; cursor: pointer;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
                                                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
                                            </svg>
                                        </span>
                                    </a>
                                    <a href="{% url 'section_update' section.id %}" title="ویرایش" style="padding: 0 4px;">
                                        <span class="text-secondary text-xs font-weight-bold">
                                            <svg style="color: #16C47F; cursor: pointer;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
                                            </svg>
                                        </span>
                                    </a>
                                    <a href="{% url 'section_delete' section.id %}" title="حذف" style="padding: 0 4px;">
                                        <span class="text-secondary text-xs font-weight-bold">
                                            <svg style="color: #C5172E; cursor: pointer;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                                            </svg>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td colspan="4" class="align-middle text-center">
                                    <span class="text-secondary text-xs font-weight-bold">موردی یافت نشد</span>
                                </td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="page">
            {% if page_obj.has_previous %}
            <a href="{% url 'section_list' %}?page={{ page_obj.previous_page_number }}">
                <div class="ago">
                    <p>قبلی</p>
                </div>
            </a>
            {% if page_obj.number > 3 %}
            <a href="{% url 'section_list' %}?page=1" class="number">1</a>
                {% if page_obj.number > 4 %}
                <span class="number">...</span>
                {% endif %}
            {% endif %}
            {% endif %}
            
            {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
            <a href="{% url 'section_list' %}?page={{ num }}" class="number">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %} 
            <a href="{% url 'section_list' %}?page={{ num }}" class="number">{{ num }}</a>
            {% endif %}
            {% endfor %}
            
            {% if page_obj.has_next %}
            {% if page_obj.number < page_obj.paginator.num_pages|add:'-3' %}
            <span class="number">...</span>
            <a href="{% url 'section_list' %}?page={{ page_obj.paginator.num_pages }}" class="number">{{ page_obj.paginator.num_pages }}</a>
            {% elif page_obj.number < page_obj.paginator.num_pages|add:'-2' %} 
            <a href="{% url 'section_list' %}?page={{ page_obj.paginator.num_pages }}" class="number">{{ page_obj.paginator.num_pages }}</a>
            {% endif %}
            
            <a href="{% url 'section_list' %}?page={{ page_obj.next_page_number }}">
                <div class="next">
                    <p>بعدی</p>
                </div>
            </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}