{% extends 'base.html' %}
{% load static %}

{% block title %}
جزئیات بخش: {{ section.name }}
{% endblock %}

{% block page1 %}
بخش ها
{% endblock %}

{% block page2 %}
جزئیات بخش: {{ section.name }}
{% endblock %}

{% block contain %}
<div class="row" id="content_image">
    <div class="col-12">
        <h5>فیلتر بازه زمانی</h5>
        <form method="get" class="my-time">
            <input data-jdp title="از تاریخ" name="start" class="form-control w-40" placeholder="از تاریخ" style="width: 100% !important;"
                value="{{ request.GET.start }}" autocomplete="off">
            <input data-jdp title="تا تاریخ" name="end" class="form-control w-40" placeholder="تا تاریخ" style="width: 100% !important;"
                value="{{ request.GET.end }}" autocomplete="off">
            <button class="my-btn-time" style="background-color: #fff; border: 1px solid #f97316; border-radius: 0.5rem; color: #f97316; padding: 8px 32px; font-size: 0.75rem; font-weight: 700;">جستجو</button>
        </form>
    </div>
    <div class="col-lg-3 col-sm-6 mb-lg-0 mb-4" style="margin-bottom: 24px !important;">
        <div class="card">
            <div class="card-body p-3">
                <div class="row">
                    <div class="col-8">
                        <div class="numbers">
                            <p class="text-sm mb-0 text-capitalize font-weight-bold" style="color: red;">شمار کل پزشکان</p>
                            <h5 class="font-weight-bolder mb-0">
                                {{ doctors_count }}
                            </h5>
                        </div>
                    </div>
                    <div class="col-4 text-start">
                        <div class="icon icon-shape bg-primary shadow text-center border-radius-md"
                            style="display: flex; justify-content: center; align-items: center;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                style="color: #fff;" class="bi bi-person-heart" viewBox="0 0 16 16">
                                <path
                                    d="M9 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0m-9 8c0 1 1 1 1 1h10s1 0 1-1-1-4-6-4-6 3-6 4m13.5-8.09c1.387-1.425 4.855 1.07 0 4.277-4.854-3.207-1.387-5.702 0-4.276Z" />
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 mb-lg-0 mb-4" style="margin-bottom: 24px !important;">
        <div class="card">
            <div class="card-body p-3">
                <div class="row">
                    <div class="col-8">
                        <div class="numbers">
                            <p class="text-sm mb-0 text-capitalize font-weight-bold" style="color: red;">شمار کل بیماران</p>
                            <h5 class="font-weight-bolder mb-0">
                                {{ patients_count }}
                            </h5>
                        </div>
                    </div>
                    <div class="col-4 text-start">
                        <div class="icon icon-shape bg-primary shadow text-center border-radius-md"
                            style="display: flex; justify-content: center; align-items: center;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                style="color: #fff;" class="bi bi-person-heart" viewBox="0 0 16 16">
                                <path
                                    d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5.784 6A2.24 2.24 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.3 6.3 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5" />
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 mb-lg-0 mb-4" style="margin-bottom: 24px !important;">
        <div class="card">
            <div class="card-body p-3">
                <div class="row">
                    <div class="col-8">
                        <div class="numbers">
                            <p class="text-sm mb-0 text-capitalize font-weight-bold">شمار پرونده های بخش</p>
                            <h5 class="font-weight-bolder mb-0" id="total">
                                {{ filtered_section_cases_count }}
                            </h5>
                        </div>
                    </div>
                    <div class="col-4 text-start">
                        <div class="icon icon-shape bg-primary shadow text-center border-radius-md"
                            style="display: flex; justify-content: center; align-items: center;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                style="color: #fff;" class="bi bi-person-heart" viewBox="0 0 16 16">
                                <path
                                    d="M5 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4m4-2.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5M9 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4A.5.5 0 0 1 9 8m1 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5" />
                                <path
                                    d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2zM1 4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H8.96q.04-.245.04-.5C9 10.567 7.21 9 5 9c-2.086 0-3.8 1.398-3.984 3.181A1 1 0 0 1 1 12z" />
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 mb-lg-0 mb-4" style="margin-bottom: 24px !important;">
        <div class="card">
            <div class="card-body p-3">
                <div class="row">
                    <div class="col-8">
                        <div class="numbers">
                            <p class="text-sm mb-0 text-capitalize font-weight-bold">شمار پرونده های فوت</p>
                            <h5 class="font-weight-bolder mb-0" id="total">
                                {{ filtered_dc_section_cases_count }}
                            </h5>
                        </div>
                    </div>
                    <div class="col-4 text-start">
                        <div class="icon icon-shape bg-primary shadow text-center border-radius-md"
                            style="display: flex; justify-content: center; align-items: center;">
                            <svg style="color: #fff;" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-sign-dead-end" viewBox="0 0 16 16">
                                <path d="M4.783 6v2h.69c.593 0 .886-.359.886-1.002S6.07 6 5.473 6zm.333.28h.32c.395 0 .582.24.582.722 0 .48-.186.718-.581.718h-.321zM7.82 7.72h-.918v-.602h.863V6.85h-.863v-.57h.917V6H6.571v2H7.82zm.573-.274L8.216 8h-.34l.688-2h.371l.689 2h-.352l-.177-.554zm.627-.255-.268-.845h-.015l-.27.845zM9.746 6v2h.69c.593 0 .886-.359.886-1.002S11.032 6 10.436 6zm.333.28h.32c.394 0 .582.24.582.722 0 .48-.186.718-.582.718h-.32zm-4.173 4.44h.917V11H5.575V9h1.248v.28h-.917v.57h.863v.268h-.863zm1.489.28V9.56h.013L8.344 11h.292V9h-.32v1.436h-.014L7.369 9h-.293v2zm1.56 0V9h.69c.596 0 .886.355.886.998S10.238 11 9.645 11zm.653-1.72h-.32v1.44h.32c.395 0 .581-.239.581-.718 0-.481-.187-.722-.581-.722"/>
                                <path d="M9.05.435c-.58-.58-1.52-.58-2.1 0L.436 6.95c-.58.58-.58 1.519 0 2.098l6.516 6.516c.58.58 1.519.58 2.098 0l6.516-6.516c.58-.58.58-1.519 0-2.098zm-1.4.7a.495.495 0 0 1 .7 0l6.516 6.515a.495.495 0 0 1 0 .7L8.35 14.866a.495.495 0 0 1-.7 0L1.134 8.35a.495.495 0 0 1 0-.7L7.65 1.134Z"/>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6" style="margin-bottom: 24px !important;">
        <div class="card">
            <div class="card-body p-3">
                <div class="row">
                    <div class="col-8">
                        <div class="numbers">
                            <p class="text-sm mb-0 text-capitalize font-weight-bold">شمار پرونده های نرسیده</p>
                            <h5 class="font-weight-bolder mb-0" id="not_case">
                                {{ filtered_not_arrived_cases_count }}
                                <span class="text-success text-sm font-weight-bolder" id="percent1"></span>
                            </h5>
                        </div>
                    </div>
                    <div class="col-4 text-start">
                        <div class="icon icon-shape bg-primary shadow text-center border-radius-md"
                            style="display: flex; justify-content: center; align-items: center;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                style="color: #fff;" class="bi bi-person-heart" viewBox="0 0 16 16">
                                <path
                                    d="M5 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4m4-2.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5M9 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4A.5.5 0 0 1 9 8m1 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5" />
                                <path
                                    d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2zM1 4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H8.96q.04-.245.04-.5C9 10.567 7.21 9 5 9c-2.086 0-3.8 1.398-3.984 3.181A1 1 0 0 1 1 12z" />
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6" style="margin-bottom: 24px !important;">
        <div class="card">
            <div class="card-body p-3">
                <div class="row">
                    <div class="col-8">
                        <div class="numbers">
                            <p class="text-sm mb-0 text-capitalize font-weight-bold">شمار پرونده های ناقص</p>
                            <h5 class="font-weight-bolder mb-0" id="defect">
                                {{ filtered_defect_cases_count }}
                                <span class="text-success text-sm font-weight-bolder" id="percent2"></span>
                            </h5>
                        </div>
                    </div>
                    <div class="col-4 text-start">
                        <div class="icon icon-shape bg-primary shadow text-center border-radius-md"
                            style="display: flex; justify-content: center; align-items: center;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                style="color: #fff;" class="bi bi-person-heart" viewBox="0 0 16 16">
                                <path
                                    d="M5 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4m4-2.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5M9 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4A.5.5 0 0 1 9 8m1 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5" />
                                <path
                                    d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2zM1 4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H8.96q.04-.245.04-.5C9 10.567 7.21 9 5 9c-2.086 0-3.8 1.398-3.984 3.181A1 1 0 0 1 1 12z" />
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6" style="margin-bottom: 24px !important;">
        <div class="card">
            <div class="card-body p-3">
                <div class="row">
                    <div class="col-8">
                        <div class="numbers">
                            <p class="text-sm mb-0 text-capitalize font-weight-bold">شمار تامین اجتماعی</p>
                            <h5 class="font-weight-bolder mb-0" id="social_security">
                                {{ filtered_social_security_cases_count }}
                                <span class="text-success text-sm font-weight-bolder" id="percent3"></span>
                            </h5>
                        </div>
                    </div>
                    <div class="col-4 text-start">
                        <div class="icon icon-shape bg-primary shadow text-center border-radius-md"
                            style="display: flex; justify-content: center; align-items: center;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                style="color: #fff;" class="bi bi-person-heart" viewBox="0 0 16 16">
                                <path
                                    d="M5 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4m4-2.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5M9 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4A.5.5 0 0 1 9 8m1 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5" />
                                <path
                                    d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2zM1 4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H8.96q.04-.245.04-.5C9 10.567 7.21 9 5 9c-2.086 0-3.8 1.398-3.984 3.181A1 1 0 0 1 1 12z" />
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6" style="margin-bottom: 24px !important;">
        <div class="card">
            <div class="card-body p-3">
                <div class="row">
                    <div class="col-8">
                        <div class="numbers">
                            <p class="text-sm mb-0 text-capitalize font-weight-bold">میانگین مدت زمان رسیدن </p>
                            <h5 class="font-weight-bolder mb-0">
                                {{ average_arrive_daies }}
                                <span class="text-success text-sm font-weight-bolder"></span>
                            </h5>
                        </div>
                    </div>
                    <div class="col-4 text-start">
                        <div class="icon icon-shape bg-primary shadow text-center border-radius-md"
                            style="display: flex; justify-content: center; align-items: center;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                style="color: #fff;" class="bi bi-person-heart" viewBox="0 0 16 16">
                                <path
                                    d="M5 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4m4-2.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5M9 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4A.5.5 0 0 1 9 8m1 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5" />
                                <path
                                    d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2zM1 4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H8.96q.04-.245.04-.5C9 10.567 7.21 9 5 9c-2.086 0-3.8 1.398-3.984 3.181A1 1 0 0 1 1 12z" />
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6" style="margin-bottom: 24px !important;">
        <div class="card">
            <div class="card-body p-3">
                <div class="row">
                    <div class="col-8">
                        <div class="numbers">
                            <p class="text-sm mb-0 text-capitalize font-weight-bold">میانگین اقامت بیماران</p>
                            <h5 class="font-weight-bolder mb-0">
                                {{ average_stay_daies }}
                                <span class="text-success text-sm font-weight-bolder"></span>
                            </h5>
                        </div>
                    </div>
                    <div class="col-4 text-start">
                        <div class="icon icon-shape bg-primary shadow text-center border-radius-md"
                            style="display: flex; justify-content: center; align-items: center;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                style="color: #fff;" class="bi bi-person-heart" viewBox="0 0 16 16">
                                <path
                                    d="M5 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4m4-2.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5M9 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4A.5.5 0 0 1 9 8m1 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5" />
                                <path
                                    d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2zM1 4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H8.96q.04-.245.04-.5C9 10.567 7.21 9 5 9c-2.086 0-3.8 1.398-3.984 3.181A1 1 0 0 1 1 12z" />
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="padding-top: 20px; margin: auto;">
        <div style="width: 50%; margin: auto; border-radius: 0.75rem; box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1); background-color: #FBFBFB;">
            <canvas id="barChart"></canvas>
        </div>
        <div style="width: 50%; margin: auto; border-radius: 0.75rem; box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1); background-color: #FBFBFB;">
            <canvas id="barChartType"></canvas>
        </div>
    </div>

    <div class="row" style="padding-top: 20px;">
        <div style="width: 80%; margin: auto; border-radius: 0.75rem; box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1); background-color: #FBFBFB;">
            <canvas id="barChart2"></canvas>
        </div>
    </div>

    <div class="row" style="padding-top: 20px;">
        <div style="width: 80%; margin: auto; border-radius: 0.75rem; box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1); background-color: #FBFBFB;">
            <canvas id="barChart3"></canvas>
        </div>
    </div>

    <div style="margin-top: 30px; width: 100%; display: flex; justify-content: center;">
        <button class="my-btn-time" style="background-color: #fff; border: 1px solid #f97316; border-radius: 0.5rem; color: #f97316; padding: 8px 32px; font-size: 0.75rem; font-weight: 700;" onclick="captureImage()">دانلود</button>
    </div>
</div>

<table style="display: none;">
    {% for name, count in defect_counts.items %}
    <tr>
        <td>{{ name }}</td>
        <td>{{ count }}</td>
    </tr>
    {% endfor %}
</table>

<table style="display: none;">
    {% for name, count in doctor_cases.items %}
    <tr>
        <td>{{ name }}</td>
        <td>{{ count }}</td>
    </tr>
    {% endfor %}
</table>

<table style="display: none;">
    {% for name, count in doctor_defects.items %}
    <tr>
        <td>{{ name }}</td>
        <td>{{ count }}</td>
    </tr>
    {% endfor %}
</table>

<table style="display: none;">
    {% for name, count in defect_type_counts.items %}
    <tr>
        <td>{{ name }}</td>
        <td>{{ count }}</td>
    </tr>
    {% endfor %}
</table>

<script>
    function calculator() {
        const total = parseInt(document.getElementById("total").innerText);
        const defect = parseInt(document.getElementById("defect").innerText);
        const not_case = parseInt(document.getElementById("not_case").innerText);
        const social_security = parseInt(document.getElementById("social_security").innerText);
        const percent1 = document.getElementById("percent1");
        const percent2 = document.getElementById("percent2");
        const percent3 = document.getElementById("percent3");

        if (total > 0) {
            let p1 = Math.floor((not_case * 100) / total);
            let p2 = Math.floor((defect * 100) / total);
            let p3 = Math.floor((social_security * 100) / total);
            percent1.innerText = p1 + "%";
            percent2.innerText = p2 + "%";
            percent3.innerText = p3 + "%";
        } else {
            percent1.innerText = "0%";
            percent2.innerText = "0%";
            percent3.innerText = "0%";
        }
    }

    calculator()

    jalaliDatepicker.startWatch();

    const inputFile = document.getElementById('profile_image_input');
    const previewImage = document.getElementById('profile_image_preview');
    inputFile.addEventListener('change', function () {
        const file = this.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
                previewImage.src = e.target.result;
            }
            reader.readAsDataURL(file);
        }
    }); 
</script>

<script>
    function captureImage() {
        const element = document.getElementById('content_image');

        html2canvas(element, { scale: 2 }).then(canvas => {
      
            const link = document.createElement('a');
            link.download = 'snapshot.png';
            link.href = canvas.toDataURL('image/png');
            link.click();
        });
    }
</script>
{% endblock %}